<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="filename">c:\temp\betsapi.log</Property>
        <Property name="responses">c:\temp\responses.log</Property>
    </Properties>
    <!--<Filter type="ThresholdFilter" level="trace"/>-->

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%m MDC%X%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Appender>
<!--
        <Appender type="Console" name="FLOW">
            <Layout type="PatternLayout" pattern="%C{1}.%M %m %ex%n"/>&lt;!&ndash; class and line number &ndash;&gt;
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>
-->
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t]%n%m%n</Pattern>
            </Layout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </Appender>

        <Appender type="File" name="Responses" fileName="${responses}">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t]%n%m%n</Pattern>
            </Layout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </Appender>

    </Appenders>

    <Loggers>
<!--
        <Logger name="org.apache.logging.log4j.test1" level="debug" additivity="false">
            <Filter type="ThreadContextMapFilter">
                <KeyValuePair key="test" value="123"/>
            </Filter>
            <AppenderRef ref="STDOUT"/>
        </Logger>
-->

        <Logger name="by.vision.betsapiparser.Proxy" level="debug" additivity="false">
            <AppenderRef ref="Responses"/>
        </Logger>
        <Logger name="us.codecraft.webmagic.scheduler.QueueScheduler" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="by.vision.betsapiparser.Initialise" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="by.vision.betsapiparser.Parser" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="File"/>
            <!--<AppenderRef ref="STDOUT"/>-->
        </Root>
    </Loggers>

</Configuration>